# Mistral AI API Key (https://console.mistral.ai)
MISTRAL_API_KEY=

# Supabase (https://supabase.com)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Lemon Squeezy (https://app.lemonsqueezy.com)
LEMONSQUEEZY_WEBHOOK_SECRET=
NEXT_PUBLIC_LEMONSQUEEZY_STORE=projeai
NEXT_PUBLIC_LEMONSQUEEZY_VARIANT_25=
NEXT_PUBLIC_LEMONSQUEEZY_VARIANT_100=
NEXT_PUBLIC_LEMONSQUEEZY_VARIANT_500=
